h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0; */
  font-family: 'Montserrat', sans-serif, system-ui;
}

.banner-1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px;

  .logo {
    width: 220px;
  }

  .title {
    color: #000000;
    font-weight: 700;
    line-height: 1;
    margin: 40px 0 15px 0;
    max-width: 40%;
  }

  .subtitle {
    color: #000000;
    font-weight: 300;
    margin: 0 0 15px 0;
    max-width: 40%;
  }

  .button-login {
    border-radius: 100px;
    border: none;
  }
}
