h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0; */
  font-family: 'Montserrat', sans-serif, system-ui;
}

.button-rounded {
  border-radius: 100px !important;
  border: none !important;
  padding: 0 20px;
}

.text-capitalize {
  text-transform: capitalize;
}

.banner-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px;

  .logo {
    width: 220px;
  }

  .title {
    color: #000000;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0 15px 0;
  }

  .subtitle {
    color: #000000;
    font-weight: 300;
    margin: 0 0 15px 0;
  }
}

.form-section {
  max-height: max-content;
  padding-left: 10px !important;
  padding-right: 10px !important;

  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .head-text {
      display: inherit;
      align-items: inherit;
      margin-bottom: 15px;
    }

    .head-icon {
      margin-left: 10px;
    }

    .title {
      font-weight: 700;
      line-height: 1.1;
      margin: 0;
    }

    .subtitle {
      color: #2e1d11;
      font-size: 15px !important;
      font-weight: 300;
      margin: 0;
    }
  }

  .card {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;

    .card-form {
      margin: 0;
      display: flex;
      flex-direction: column;

      .button-submit {
        width: 50%;
        margin: auto;
      }

      .card-form_title {
        margin: 5px 0 15px;
      }

      .card-form_controls {
        .card-form_label {
          width: 100%;
          font-family: 'Montserrat', sans-serif, system-ui !important;
          font-size: 10px;
          font-weight: 500;
          color: #000000;
          text-transform: capitalize;
          padding: 0 10px;
        }

        .card-form_input {
          font-family: 'Montserrat', sans-serif, system-ui !important;
          width: 100%;
          padding: 5px 10px;
          margin: 6px 0;
          border: solid 1px #aaaaaa;
          background-color: #f3f3f3;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer-section {
  /* max-height: 250px; */
  /* text-align: justify; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

  padding-right: 10px;
  padding-left: 10px;
  color: #ffffff;

  .disclaimer {
    text-align: center;
    font-size: 10px;
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    margin: 0;
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  .form-section {
    padding-left: 10px !important;
    padding-right: 10px !important;

    .head {
      flex-direction: column;

      .head-text {
        margin-bottom: 15px;
      }
    }
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .button-rounded {
    padding: 0 50px;
  }

  .form-section {
    padding: 40px !important;

    .head {
      flex-direction: column;

      .head-text {
        margin-bottom: 0;
      }
    }

    .card .card-form .card-form_controls .card-form_label {
      width: 49%;
    }
  }

  .banner-section {
    .title,
    .subtitle {
      max-width: 40%;
    }
  }

  .disclaimer-section {
    padding: 30px 80px !important;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .form-section {
    padding: 60px 100px !important;

    .head {
      flex-direction: row;
    }
  }
}

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 80em) {
  .form-section {
    padding: 0px;
  }
} */
