section {
    font-family: 'Montserrat', sans-serif, system-ui;
    padding-top: 0px;
    max-height: 450px;
}

section > div {
    padding: 40px !important;
}

.reward-section {
    text-align: center;
}
